body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color: rgb(245, 164, 59);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

p{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.contenedorSuperior{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.contenedorMedio{
    margin: 100px 0;
}

.contenedorInferior{
    background-color: rgb(37, 37, 37);
    padding: 50px 0 20px;
}

.filaHabilidades{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.mensajeContacto{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.nubeSuperior{
    position: absolute;
    right: 300px;
    top: 40px;
}

.nubeInferior{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.codigoImg{
    width: 25%;
    float: left;
    margin: 30px;
}

.controlImg{
    width: 25%;
    float: right;
    margin: 30px;
}

.btn {
    background:  #66BFBF;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
    
.btn:hover {
    border: solid #337FED 0px;
    background: #30E3CD;
    background-image: -webkit-linear-gradient(top, #30E3CD, #2DC4AD);
    background-image: -moz-linear-gradient(top, #30E3CD, #2DC4AD);
    background-image: -ms-linear-gradient(top, #30E3CD, #2DC4AD);
    background-image: -o-linear-gradient(top, #30E3CD, #2DC4AD);
    background-image: linear-gradient(to bottom, #30E3CD, #2DC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}